<header class="site-header">
  <div class="site-links">
    <!-- Left Section: "Recommencer l'aventure" button -->
    <div class="left-links">
      <div class="nav-link">
        <a href="{{ '/la-photosynthese/' }}" class="header-button">Recommencer l'aventure</a>
      </div>
    </div>
    

    <!-- Center: Logo -->
    <div class="center-element">
      <a href="{{ '/' | relative_url }}">
        <img src="{{ '/logo.jpg' | relative_url }}" alt="My Logo" class="logo">
      </a>
    </div>

    <!-- Right Section: "Terminer l'aventure" button -->
    <div class="right-links">
      <div class="nav-link">
        <a href="{{ '/la-photosynthese/pagefinale/' }}" class="header-button">Terminer l'aventure</a>
      </div>
    </div>
  </div>
</header>
