<header class="site-header">
  <div class="site-links">
    <div class="left-links">
      <div class="nav-link">
        <a href="{{ '/' | relative_url }}">Home</a>
      </div>
      <div class="nav-link">
        <a href="{{ '/About-Me/' | relative_url }}">About Me</a>
      </div>
      <div class="nav-link">
        <a href="{{ '/blog/' | relative_url }}">Blog</a>
      </div>
    </div>

    <div class="center-element">
      <a href="{{ '/' | relative_url }}">
        <img src="{{ '/logos/complete-normal.svg' | relative_url }}" alt="My Logo" class="logo">
      </a>
    </div>    

    <div class="right-links">
      <div class="nav-link">
        <a href="{{ '/projects/' | relative_url }}">Projects</a>
      </div>
      <div class="nav-link">
        <a href="{{ '/portfolio/' | relative_url }}">Portfolio</a>
      </div>
      <div class="nav-link">
        <a href="{{ '/contact/' | relative_url }}">Contact</a>
      </div>
    </div>
  </div>
</header>

