<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    {%- include head.html -%}

    <!-- Add GSAP Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <!-- Add ScrollTrigger Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>

  </head>

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <!-- Ensure custom.css is loaded after main.css -->
    <link rel="stylesheet" href="{{'/assets/main.css'|relative_url}}">
    <link rel="stylesheet" href="{{'custom.css'|relative_url}}">
    
  </body>
</html>

